*.mod
*.o
*.log
*.exe
./pythonRoutines/*.pyc
./pythonRoutines/*.txt
*.swp
*.asv
build*
bin*
output/
# Test files
TestCases/**/logfile.txt
TestCases/**/Normalvelocities.dat
TestCases/**/results/*
TestCases/**/mesh/*
TestCases/**/Motion/*
TestCases/**/logfileQTF.txt
TestCases/**/QTFPreprocOut/*
TestCases/**/fort.40
TestCases/**/Mechanics/*
!TestCases/9_QTF_OC4_Semisubmersible/**/Mechanics/*
!TestCases/10_QTF_SOFTWIND/**/Mechanics/*
